---
---
@import "{{ site.theme }}";
html, body {
    margin: 0;
 }
 
#container {
    background-color: #1c1c1c;
    background: #1c1c1c;
    color: #F5F5F5;
    min-height: initial;
    min-width: initial;
    padding-bottom: 10%;

}

body {
    // background-color: #1c1c1c;
    background: none;
    text-shadow: none;
    color: #F5F5F5;
    height: 100vh;
    width: 100vw;
    background-color: #1c1c1c;
}

p {
    color: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
    font-size: 12pt;
}

h2 {
    color: #F5F5F5;
}

a {
    color: #ffa500;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
nav li {
    margin: 0 1rem;
    list-style: none;
    font-size: 20pt;
}

#tags {
    color: black;
    list-style: none;
    margin: 0;
    padding: 0;
}

#tag {
    color: black;
    list-style: none;
    display: inline-block;
    margin: 0 0 0 0;
}