<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <title>jangofett.tech</title>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="https://kit.fontawesome.com/eb13f17971.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ 'assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ 'assets/css/print.css' | relative_url }}" media="print">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    {% include analytics.html %}
  </head>

  <body>
    <div id="container">
      <div class="inner">
        <header>
          <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
          {% include menu.html %}
          <!-- <h4>{{ page.description | default: site.description | default: site.github.project_tagline }}</h4> -->
        </header>
        <h2> {{ page.title | default: site.description | default: site.github.repository_name }}</h2>
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>